# Local cluster secrets
logs/k3s-node-token.txt

# Python cache
__pycache__/
*.py[cod]
*.pyc

# Virtual environments
.venv/
.venv*/

# Local OS/editor files
.DS_Store
Thumbs.db
.vscode/

# Build and Packaging
build/
dist/
*.spec

# Frontend/Node
node_modules/
.next/
out/

